/* Main Rules */

* {
  margin: 0%;
  padding: 0%;
}

body {
  position: relative;
}

/* Header Section */

.header_section {
  background-color: #3c3a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 24px;
}

#name {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
}

#unicon {
  padding-top: 4px;
}

/* Headline Section */

.headline_section {
  background-color: #1c1a19;
  background-image: url(Sources/Group.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px 0 24px;
  gap: 20px;
}

#primary_text {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

#supporting_text {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

#description {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social_media {
  inset: 430px 0 0 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
  order: 3;
  flex-grow: 0;
  padding-bottom: 130px;
}

.social_media li {
  display: inline;
}
