/* Mobile First */

/* Main Rules */

* {
  margin: 0%;
  padding: 0%;
}

body {
  position: relative;
}

/* Button interaction styling */

.button_interactions:hover {
  background-color: #ffe3d3ef;
  color: #f55800;
  border: 1px solid #f55800;
}

.button_interactions:focus {
  color: rgb(226, 223, 223);
  background-color: #f55800;
}

/* Animation Section */

.animation {
  animation-duration: 3s;
  animation-name: slidein;
}

/* Header Section */

.header_section {
  background-color: #3c3a39;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 12px;
}

.nav_list {
  color: #fff;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}

.nav_list li {
  padding: 0 24px 0 0;
}

.nav_icons a {
  text-decoration: none;
  color: white;
}

.nav_icons a:hover {
  color: #a8a8a8;
}

.nav_icons a:focus {
  color: #f55800;
}

#name {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 12px;
}

.nav_icons {
  display: none;
}

/* Mobile Menu */

.mb_menu {
  background-color: #3c3a39;
  position: fixed;
  top: 0;
  width: 100vh;
  height: 100%;
  display: none;
  padding-right: 1px;
}

#x_icon {
  padding: 15px 25px 10px 325px;
}

.menu_list {
  padding: 35px 14px 479px 24px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.menu_list li {
  border-bottom: 1px solid #6f6c6b;
  margin-bottom: 24px;
  padding: 0 0 12px 12px;
}

.menu_list_items {
  color: white;
  text-decoration: none;
}

/* Headline Section */

.headline_section {
  background-color: #1c1a19;
  background-image: url(Sources/Mobile/Group.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px 34px 24px;
  gap: 20px;
}

#primary_text {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

#supporting_text {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

#description {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social_media {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 130px;
}

.social_media li {
  display: inline;
}

/* Work Section */

.main_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  padding-top: 120px;
}

#break_line {
  width: 327px;
  padding: 24px 0 80px 0;
}

.parent_grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 50px;
  column-gap: 24px;
  padding: 0 24px 0 24px;
  margin-bottom: 120px;
}

.parent_grid2 {
  display: grid;
  grid-template-rows: repeat(7, 386px);
  grid-row-gap: 24px;
  padding: 0 24px 0 24px;
  margin-bottom: 120px;
}

/* First project styles */

.project1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#mobile_placeholder {
  align-self: center;
}

#desktop_placeholder {
  display: block;
}

#desktop_img {
  width: 100%;
}

#project1_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: black;
  padding: 24px 0 12px 0;
}

.project1_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-bottom: 12px;
}

.project1_tag_box {
  width: 297px;
  height: 40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 12px;
  gap: 12px;
}

.project1_box {
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.project1_button {
  background: #ff6b00;
  width: 124px;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

/* Styles for the rest projects */

.projects {
  /* background-image: url(Sources/Mobile/Img\ Placeholder2.png); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#projects_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.projects_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.projects_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project2 {
  background-image: url(Sources/Desktop/Img\ Placeholder2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
}

#project2_header,
.project2_description,
.project2_tag_box,
.project2_box {
  display: block;
}

.project2_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project3 {
  background-image: url(Sources/Desktop/Img\ Placeholder2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#project3_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.project3_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.project3_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project4 {
  background-image: url(Sources/Desktop/Img\ Placeholder\ 2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 45px;
}

#project4_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.project4_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.project4_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project5 {
  background-image: url(Sources/Desktop/Img\ Placeholder2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#project5_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.project5_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.project5_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project6 {
  background-image: url(Sources/Desktop/Img\ Placeholder\ 1.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#project6_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.project6_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.project6_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.project7 {
  background-image: url(Sources/Desktop/Img\ Placeholder2.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 45px;
}

#project7_header {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: rgb(255, 255, 255);
  padding: 84px 16px 12px 16px;
}

.project7_description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding: 0 16px 0 16px;
}

.project7_button {
  background: #ff6b00;
  width: 100%;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

.projects_tag_box {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0 12px 16px;
  gap: 12px;
}

.projects_box {
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  color: white;
}

#popup-wrap {
  transition: all 0.2s ease-in-out;
}

.content-card-wrap {
  /* display: none; */
  display: flex;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.close-button {
  position: relative;
  left: 97%;
}

.content-card {
  padding: 16px;
  height: 90%;
  width: 90%;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

@media (min-width: 769px) {
  .content-card {
    width: 80%;
    height: 80%;
    padding: 2.5%;
  }
}

.cc-h-wrap {
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
}

@media (min-width: 769px) {
  .cc-h-wrap {
    gap: 10px;
    margin-bottom: 10px;
  }
}

.card-h {
  font-size: 32px;
  line-height: 40px;
}

.card-lang-wrapper {
  list-style: none;
  display: flex;
}

.card-lang-wrapper li {
  padding: 8px 12px;
  border: 1px solid rgba(137, 147, 164, 1);
  margin-right: 12px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(60, 58, 57);
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .card-lang-wrapper li {
    font-size: 15px;
    line-height: 20px;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 769px) {
  .card-content {
    display: grid;
    grid-template-columns: 51% 45%;
    height: 50%;
  }
}

.project-img-w {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

@media (min-width: 769px) {
  .project-img-w {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .card-img {
    width: 80%;
  }
}

.card-img-w {
  width: max-content;
}

@media (min-width: 769px) {
  .card-img {
    width: 85%;
  }
}

@media (min-width: 769px) {
  .project-img {
    width: 100%;
  }
}

.card-cb-wrap {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (min-width: 768px) {
  .card-cb-wrap {
    gap: 10px;
  }
}

@media (min-width: 1127px) {
  .card-cb-wrap {
    display: flex;
    justify-content: space-between;
  }
}

.card-p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgb(52, 69, 99);
  max-height: 50%;
  overflow: hidden;
}

@media (min-width: 769px) {
  .card-p {
    max-height: none;
  }
}

.card-b-wrap {
  display: flex;
  gap: 20px;
}

.card-button {
  background-color: rgb(255, 107, 0, 1);
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 12px;
  border: 1px solid #f55800;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  transition-duration: 0.15s;
}

@media (min-width: 769px) {
  .card-button {
    font-size: 18px;
    line-height: 25px;
  }
}

.card-button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

.card-button:active {
  background: rgb(224, 83, 4);
  border: 1px solid #f55800;
  color: white;
}

.card-button:disabled {
  background: rgb(224, 241, 240);
  border: 1px solid rgb(224, 241, 240);
  color: rgb(91, 89, 87);
}

/* About me Section */

.about_me {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 24px;
  background-image: url(Sources/Mobile/Frame.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

#about_me_heading {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  text-align: center;
}

#about_me_description {
  color: #f4f5f7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#about_me_button {
  background: #ff6b00;
  width: 161px;
  height: 48px;
  gap: 10;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: white;
  border: none;
}

/* Skills Section */

#break_line2 {
  width: 50%;
  color: rgba(255, 255, 255, 0.13);
  align-self: center;
  height: 1px;
  margin-bottom: 100px;
}

.my_skills {
  background-color: #1c1a19;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  color: white;
}

.skills_list {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  padding-bottom: 45px;
}

.skills_list ul {
  padding-bottom: 100px;
}

.skills_list li {
  list-style: none;
  padding-top: 40px;
}

/* Contact Me Section */

.contact_me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px 0 24px;
}

#contact_section_heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

#form {
  color: #979493;
  padding: 80px 24px 80px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  margin-bottom: 24px;
  height: 48px;
  text-align: left;
  padding-left: 10px;
  border: none;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.438);
}

#form textarea {
  padding-top: 10px;
  background-color: #fbf8f7;
  border: none;
  height: 114px;
}

.contact_me_button {
  background-color: #ff6b00;
  color: white;
  height: 48px;
  gap: 10;
  align-self: center;
  padding: 12px 12px 12px 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
  letter-spacing: 0.03em;
}

#line_break {
  background-color: #dfe1e6;
  width: 95%;
  margin-bottom: 15px;
  align-self: center;
}

/* Footer Section */

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#social_media_footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  margin: 15px 88px 18px 88px;
}

#line_break1 {
  height: 5px;
  width: 134;
  margin-bottom: 8px;
  align-self: center;
}

/* Desktop Version */

@media only screen
  and (min-width: 768px) {
  /* Header Section */

  .header_section {
    align-items: center;
  }

  #name {
    padding-left: 150px;
  }

  .nav_list {
    padding-right: 50px;
  }

  .nav_icons {
    display: inline;
  }

  #mail_icon {
    padding-top: 4px;
  }

  #hamburger {
    display: none;
  }

  /* Headline Section */

  .headline_section {
    background-color: #1c1a19;
    background-image: url(Sources/Desktop/Illustration-header.png);
    background-repeat: no-repeat;
    background-position-x: 110%;
    background-position-y: center;
    padding: 192px 731px 250px 20px;
    gap: 24px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  #primary_text {
    font-size: 69px;
    line-height: 82px;
    padding-bottom: 24px;
  }

  #supporting_text {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 31px;
    line-height: 44px;
    padding-bottom: 24px;
  }

  #description {
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    line-height: 32px;
  }

  .social_media {
    flex-direction: column;
    padding-top: 80;
    padding-right: 50px;
  }

  /* Works Section */

  .main_text {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 135px 0 114px 0;
  }

  .header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    padding-top: 0;
  }

  #break_line {
    width: 50%;
    height: 1px;
    padding: 0;
    align-self: center;
    padding-left: 24px;
  }

  .parent_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 50px;
    column-gap: 24px;
    padding: 0 141px 0 100px;
    margin-bottom: 120px;
  }

  .parent_grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 24px;
    padding: 0 141px 0 100px;
    margin-bottom: 120px;
  }

  /* First project styles */

  .col-span {
    grid-column: span 3 / auto;
  }

  .project1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 24px;
    justify-content: center;
    gap: 24px;
  }

  .project1_text {
    padding: 0;
  }

  #project1_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    color: black;
    padding: 24px 0 12px 0;
  }

  .project1_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #091e42;
    padding-bottom: 12px;
  }

  /* Styles for the rest projects */

  .project2 {
    background-image: url(Sources/Desktop/Img\ Placeholder2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  #project2_header,
  .project2_description,
  .project2_tag_box,
  .project2_box {
    display: none;
  }

  .project2_button {
    background: #ff6b00;
    width: 100%;
    height: 48px;
    gap: 10;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 0.03em;
    line-height: 24px;
    color: white;
    border: none;
  }

  .project3 {
    background-image: url(Sources/Desktop/Img\ Placeholder2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #project3_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 84px 16px 12px 16px;
  }

  .project3_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 16px 30px 16px;
  }

  /* .project3_button {
    display: none;
  } */

  .project4 {
    background-image: url(Sources/Desktop/Img\ Placeholder\ 3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 45px;
  }

  #project4_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 84px 16px 12px 16px;
  }

  .project4_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 16px 30px 16px;
  }

  .project4_button {
    display: none;
  }

  .project5 {
    background-image: url(Sources/Desktop/Img\ Placeholder\ 3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #project5_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 84px 16px 12px 16px;
  }

  .project5_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 16px 30px 16px;
  }

  .project5_button {
    display: none;
  }

  .project6 {
    background-image: url(Sources/Desktop/Img\ Placeholder\ 3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #project6_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 84px 16px 12px 16px;
  }

  .project6_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 16px 30px 16px;
  }

  .project6_button {
    display: none;
  }

  .project7 {
    background-image: url(Sources/Desktop/Img\ Placeholder\ 3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 45px;
  }

  #project7_header {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: rgb(255, 255, 255);
    padding: 84px 16px 12px 16px;
  }

  .project7_description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 0 16px 30px 16px;
  }

  .project7_button {
    display: none;
  }

  .projects_tag_box,
  .projects_box {
    display: inline;
  }

  /* About Me Section */

  .about_me {
    padding: 120px 624px 140px 142px;
    gap: 24px;
    background-image: url(Sources/Desktop/Frame1.png);
    background-position-y: 35%;
  }

  #about_me_heading {
    text-align: left;
  }

  #about_me_description {
    padding: 0 142px 24px 0;
    font-size: 20px;
    line-height: 32px;
  }

  /* Skills Section */

  #break_line2 {
    width: 100%;
    height: 1px;
    align-self: center;
    margin-bottom: 140px;
  }

  .my_skills {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    padding: 0 140px 140px 140px;
  }

  .skills_list {
    padding-bottom: 45px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 35px;
  }

  /* Contact Me Section */

  .contact_me {
    flex-direction: row;
    justify-content: center;
    padding: 130px 140px 130px 135px;
    gap: 24px;
  }

  #contact_section_heading {
    font-size: 45px;
    line-height: 52px;
    text-align: left;
    padding: 0 0 100px 29px;
  }

  #form {
    padding: 0;
    align-items: flex-start;
  }

  .input {
    width: 500px;
  }

  .contact_me_button {
    align-self: inherit;
  }

  #line_break {
    width: 90%;
  }

  /* Footer Section */

  #social_media_footer {
    margin: 0;
  }

  #line_break1 {
    display: none;
  }
}

@media only screen
  and (max-width: 839px) {
  #supporting_text,
  #description,
  #about_me_description {
    color: #a3a3a3;
  }
}

/* Keyframes Section */

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
