* {
  margin: 0%;
  padding: 0%;
}

body {
  width: 375px;
  height: 6968px;
  margin-right: 486.5px;
  margin-left: 486.5px;
}

.header_section {
  background-color: #3c3a39;
  height: 92px;
  display: flex;
  position: relative;
}

#unicon {
  position: absolute;
  inset: 63px 19px 16px 323px;
}

#name {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  position: absolute;
  inset: 56px 240px 24px 12px;
}

.headline_section {
  background-color: #1c1a19;
  height: 590px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#bkg_illustrations {
  position: absolute;
  inset: 316.44px 0 0 243.48px;
}

#primary_text {
  color: #ff6b00;
  font-family: 'Crete Round', var(--font-family-common);
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  text-align: left;
  position: absolute;
  inset: 120px 0 0 24px;
}

#supporting_text {
  color: #fff5e1;
  font-family: 'Roboto', var(--font-family-common);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  inset: 256px 0 0 24px;
}

#description {
  color: #fff;
  font-family: 'Poppins', var(--font-family-common);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  inset: 295px 24px 0 24px;
}

.social_media {
  position: absolute;
  top: 430px;
  left: 24px;
}
