* {
  margin: 0%;
  padding: 0%;
}

body {
  position: relative;
}

.header_section {
  background-color: #3c3a39;
  height: 92px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#unicon {
  position: relative;
  inset: 63px 19px 16px 323px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  
}

.headline_section {
  background-color: #1c1a19;
  background-image: url(Sources/Group.png);
  background-repeat: no-repeat;
  background-position: 244px 322px;
  background-attachment: fixed;
  height: 590px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 140px 0 24px;
  gap: 20px;
}

#name {
  color: white;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
  inset: 56px 240px 12px 24px;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.social_media {
  inset: 430px 0 0 24px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: none;
order: 3;
flex-grow: 0;
}

.social_media li {
  display: inline;
  display: flex;
flex-direction: row;
align-items: flex-start;

}
#github{
  flex: none;
order: 0;
flex-grow: 0;
}

#link{
  flex: none;
order: 1;
flex-grow: 0;
}

#angel{
  flex: none;
order: 2;
flex-grow: 0;
}

#twitter{
  flex: none;
order: 3;
flex-grow: 0
}

#medium{
  flex: none;
order: 4;
flex-grow: 0;
}

#primary_text {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
}

#supporting_text {
  color: #fff5e1;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#description {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}
